#crosshair {
    position: absolute; /* 使得伪元素的定位基于此元素 */
    display: none;
    width: 0;
    height: 0;
}

#crosshair::before, #crosshair::after {
    content: ''; /* 伪元素需要content属性 */
    position: absolute; /* 使得伪元素相对于父元素定位 */
    background-color: red; /* 十字线的颜色 */
    transform: translate(-50%, -50%); /* 使得十字线的中心点在鼠标位置 */
}

#crosshair::before {
    /* 水平线 */
    top: 50%;       
    left: -50%; 
    width: 30px; /* 十字线的长度 */
    height: 4px; /* 十字线的厚度 */
}

#crosshair::after {
    /* 垂直线 */
    left: 50%;
    top: -50%;
    width: 4px; /* 十字线的厚度 */
    height: 30px; /* 十字线的长度 */
}

#toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #f8f8f8; /* 添加背景颜色 */
    border: 1px solid #ddd; /* 添加边框 */
    border-radius: 5px; /* 添加边框半径 */
    padding: 10px; /* 添加内边距 */
    font-size: 14px; /* 改变字体大小 */
    color: #333; /* 改变字体颜色 */
}
#toolbar * {
    font-size: large;
}
#toolbar > *:not(:last-child) {
    margin-right: 20px;
}


#refresh_interval {
    background-color: #f8f8f8; /* 添加背景颜色 */
    border: 1px solid #ddd; /* 添加边框 */
    border-radius: 5px; /* 添加边框半径 */
    padding: 10px; /* 添加内边距 */
    font-size: large; /* 改变字体大小 */
    color: #333; /* 改变字体颜色 */
}

#refresh_interval * {
    background-color: #f8f8f8; /* 添加背景颜色 */
}